.post-header {
  width: 260px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.group-text {
  background-color: var(--color-light-gray);
  border-radius: 5px;
  width: 260px;
  margin-bottom: 5px;
  padding: 12px 0;
}
.post-footer {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
.user-photo-post {
  width: 25px;
  height: 25px;
  padding: 6px;
  background-color: var(--color-dark-yellow);
  border-radius: 5px;
  align-self: center;
}
.user-link-photo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  column-gap: 20px;
}
.user-name {
  font-size: 1rem;
  font-family: var(--font-emphasis);
  font-weight: var(--font-bold);
  color: var(--color-black);
}
.post-date {
  font-size: 0.625rem;
}
.paragraph {
  font-size: 0.75rem;
  margin: 0px 15px;
  line-height: 1.5;
}
.post-icon {
  height: 16px;
  margin-right: 5px;
}
.post-icon-text {
  font-size: 0.75rem;
  color: var(--color-black);
}
.button-post {
  display: flex;
  background-color: var(--color-white);
  border: none;
  padding: 5px;
  cursor: pointer;
}
.post-number-like,
.post-number-comment {
  margin-right: 3px;
}
