.box-slogan-page-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
}

.btn-back-about {
  position: absolute;
  top: 0;
  left: 1px;
}

.img-btn-back {
  height: 12vh;
}

.logo-desktop {
  display: none;
}

.logo-icon-page-about {
  height: 30vh;
}

.text-align {
  text-align: justify;
  margin: 0 5%;
}

.tittle-about {
  color: var(--tiffany-blue);
}

.text-about {
  font-size: 18px;
}

.tittle-devs-about {
  text-align: center;
  margin: 5%;
  color: var(--purple);
}

.about-devs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-picture-devs {
  display: grid;
  grid-template-columns: 50% 50%;
}

.information-about-devs {
  justify-content: center;
  align-items: center;
}

.picture-devs {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.social-networks-devs {
  flex-direction: column;
}