*{
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}
body{
background-image: url("background.png");
}
.logo{
    width: 20vw;
    height: 40vh;
}
.main-header,.main-footer{
    display: flex;
    justify-content: center;
}

.form-container{
    margin:0 auto;
    background-color: #FFF4F4;
    border-radius: 3px;
    width:20vw;
    padding:10px;
    text-align: center;
    line-height: 4em;
    
}
.green-container{
    margin:0 auto;
    background-color: #C8E8A2;
    width: 40vw;
    padding: 60px 5px;
}

.text-input{
    width: 16vw;
    height: 4vh;
    border: none;
    background-color:#dee4e3;
    padding: 0px 15px;
}

.main-footer{
    align-items: center;
    text-align: center;
    margin-top: 200px;
    background-color:#FCD09C;
    height: 6vh;
}

.btn-login{
    width: 5vw;
    height: 6vh;
    background-color: #FDAF51;
    
}
.btn-login-google{
    width: 7vw;
    height: 6vh;
    background-color: #ec6951;
}

.btn-register{
    width: 7vw;
    height: 6vh;
    background-color: #FDAF51;
    
}

.btn-login, .btn-login-google, .btn-register{
    border-radius: 5px;
    border: none;
}