.box-slogan-page-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

.btn-about {
  position: absolute;
  top: 0;
  right: 1px;
}

.img-btn-about {
  height: 10vh;
}

.slogan-desktop {
  display: none;
}

.box-slogan-desktop-page-login {
  display: none;
}

.form-login {
  background-color: var(--lilac);
  border-radius: 10px;
  text-align: center;
}

.flex-direction {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 60vw;
  margin: 0 auto;
}

.login-area,
.btn-sign-in,
.btn-recover-password {
  background-color: var(--off-white);
  border-radius: 10px;
  box-shadow: var(--black) 10px 10px 15px -8px;
  margin-top: 12px;
  background-color: #F7F7F7;
  border-radius: 10px;
  font-size: 15px;
  margin: 5px 10px;
  padding-left: 10px;
  height: 6vh;
  width: 90%;
  flex: 2 2 200px;
}

.btn-sign-in {
  cursor: pointer;
}

.error {
  display: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
  color: var(--red-error);
}

.text-center {
  text-align: center;
  margin: 3% auto;
  display: block;
}

.btn-google {
  background: var(--mustard);
  border-radius: 10px;
  flex: 2 2 150px;
  align-items: center;
  justify-content: center;
  box-shadow: var(--black) 10px 10px 15px -8px;
  cursor: pointer;
  height: 6vh;
  width: 60vw;
}

.header-desktop {
  display: none;
}

a:link {
  color: var(--purple);
}

#click-register:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .logo-icon-page-login {
    height: 30vh;
  }

  .login-area,
  .btn-sign-in,
  .btn-recover-password {
    flex: 4 4 400px;
  }

  .btn-google {
    width: 50vw;
    margin-top: 3%
  }

  .img-btn-google {
    height: 4vh;
  }

  .font-size {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .logo-page-login {
    height: 30vh;
  }

  .login-area,
  .btn-sign-in,
  .btn-recover-password,
  .btn-google {
    flex: 1 1 300px;
  }

  .img-btn-google {
    height: 4vh;
  }

  .font-size {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1220px) {
  .flex-direction {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }

  .box-slogan-page-login {
    display: none;
  }

  .box-slogan-desktop-page-login {
    display: block;
    height: 95%;
    width: 40%;
    justify-content: start;
  }

  .logo-desktop {
    display: block;
    width: 100%;
  }

  .slogan-desktop {
    display: block;
  }

  .btn-about {
    display: none;
  }

  .form-login {
    margin: 0 200px;
    height: auto;
    width: auto;
  }

  .img-btn-google {
    height: 4vh;
  }

  .font-size {
    font-size: 18px;
  }

  .btn-google {
    width: 58vw;
    background: transparent;
    border: 1px solid var(--black);
  }

  .header-desktop {
    display: block;
    justify-content: center;
    text-align: center;
    background-color: var(--mustard);
    height: 5vh;
  }
}