.box-slogan-page-login {
    display: flex;
    justify-content: center;
}

.form-login {
    background-color: var(--lilac);
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

.login-area,
.btn-sign-in {
    background-color: var(--off-white);
    border-radius: 10px;
    box-shadow: var(--black) 10px 10px 15px -8px;
}

.error {
    display: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
    color: var(--red-error);
}

.text-center {
    text-align: center;
    margin: 3% auto;
    display: block;
}

.btn-google {
    background: #F8BD0F;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:link {
    color: #C400FF;
}

@media screen and (max-width: 576px){
    .logo-icon-page-login {
        height: 25vh;
        margin: 3% 0;
    }
    .form-login {
        height: 40vh;
        width: 50vw;
    }
    .login-area,
    .btn-sign-in,
    .btn-google {
        height: 8vh;
        width: 40vw;
        margin-top: 7%;
        font-size: 15px;
    }
    .btn-google{
      width: 50vw;
      margin-top: 3%
    }
    
    .img-btn-google {
        height: 4vh;
    }
    .font-size{
      font-size: 15px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .logo-icon-page-login {
        height: 35vh;
      
    }
    .form-login {
        height: 45vh;
        width: 50vw;
    }
    .login-area,
    .btn-sign-in,
    .btn-google {
        height: 8vh;
        width: 40vw;
        margin-top: 25px;
    }
    .btn-google{
      width: 50vw;
      margin-top: 3%
    }
 
    .img-btn-google {
        height: 4vh;
    }
    .font-size{
      font-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .logo-icon-page-login {
    height: 35vh;  
}
  .form-login {
      height: 45vh;
      width: 50vw;
  }
  .login-area,
  .btn-sign-in,
  .btn-google {
      height: 8vh;
      width: 40vw;
      margin-top: 25px;
  }
  .btn-google{
    width: 50vw;
    margin-top: 3%
  }

  .img-btn-google {
      height: 4vh;
  }
  .font-size{
    font-size: 18px;
  }
}