@media (min-width: 360px){
 * {
     margin: 0px;
     padding: 0px;
     font-family: Macondo;
     box-sizing: border-box;
    }

    .conteudoLogin{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: auto;
      margin-left: 15%;
      text-align:center;
      padding-top: 6%;
      padding-bottom:4%;
     }
     .paragrafoLogin{
      color:#B51D4C;
      font-size: 2em;
     }
     .btn {
        margin-top: 40px;
        margin-bottom:2px;
        cursor: pointer;
     }
     .inputSenha{
        margin-bottom: 10px;
        width: 180px;
         height: 58px;
         border-style:groove;
         border-color:#306B35;
         border-radius:30px 30px 30px 30px ;
         margin-left: 5px;
         margin-top: 20px;
         text-align: center;
         font-size: 0.9em;
     }
     .inputEmail{
         width: 180px;
         height: 58px;
         border-style:groove;
         border-color:#306B35;
         border-radius:30px 30px 30px 30px ;
         margin-left: 5px;
         margin-top: 20px;
         text-align: center;
         font-size: 0.9em;
     }
     
     .btn {
     background-color: #C3DB7B;
     color: #B51D4C;
     width: 200px;
     height: 40px;
     border-radius:20px 20px 20px 20px;
     border-style: solid;
     border-color: #C3DB7B;
     text-align: center;
     font-size: 1em;
     cursor: pointer;
     }
   }

@media (min-width:810px) {
    
  .paragrafoLogin{
    color:#B51D4C;
    font-size: 2.5em;
    }
  
    .inputEmail {
      width: 350px;
      height: 60px;
      border-style:groove;
      border-color:#306B35;
      border-radius:30px 30px 30px 30px ;
      margin-left: 9px;
      margin-top: 30px;
      text-align: center;
      font-size: 0.9em;
      box-shadow: 2px 2px 2px grey;
     }

     .inputSenha{
      margin-bottom: 30px;
      width: 350px;
      height: 60px;
      border-style:groove;
      border-color:#306B35;
      border-radius:30px 30px 30px 30px ;
      margin-left: 9px;
      margin-top: 30px;
      text-align: center;
      font-size: 0.9em;
      box-shadow: 2px 2px 2px grey;
    }

}

.conteudoLogin {
  height: auto;
  padding-bottom:4%;
}
