
.containerLog{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-size: 1.5em;
}

.input {
  color: #306B35;
  font-size: 0.9em;
  border-radius: 2em;
  width: 350px;
  height: 60px;
  text-align: center;
  border-style: none;
  background-color: #e1f0b5;
}
.input :hover {
  border-style: none;
}

.btn {
background: #C3DB7B;
color: #B51D4C;
text-align: center;
font-size: 0.8em;
width: 12em;
height: 2em;
border-style: none;
border-radius: 2em;
}