.container{
    background: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    border-radius: 50px;
    background-color:white;
    width: 80%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before{
    content: '';
    position: absolute;
    background-color: rgba(106, 189, 209, 0.945);
    width: 40%;
    height: 100%;
}
.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-welcome{
    margin-bottom: 20px;
    color: #fff;
}
.title-second{
    margin-bottom: 2rem;
    color:rgb(63, 163, 245);
}
.description{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}
.btn-primary {
    width: 150px;
    margin: 2rem;
    background-color: #fff;
    color: #3d9ae2;

}
.btn-primary:hover{
    background-color:rgba(84, 160, 179, 0.945);
    color:#fff;
}
.btn-second{
    margin: 2rem;
    background-color: rgba(84, 160, 179, 0.945);
    border: 1px solid rgba(84, 160, 179, 0.945);
}
.btn-second:hover{
    background-color: #fff;
    border: 1px solid rgba(84, 160, 179, 0.945);
    color: rgba(84, 160, 179, 0.945);
}
.first-column{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}
.second-column{
    flex-direction: column;
    display: flex;
    flex: 2 0 auto;
    align-items: center;
}
.first-content{
    display: flex;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form input{
    border-radius: 10px;
    padding: 5px;
    height: 40px;
    border:none;
    outline: none;
    background-color: white;
    width: 100%;
}
.label-input{
    border-radius: 10px;
    background-color: white;
    border: 2px solid rgb(18, 139, 190);
    display: flex;
    align-items: center;
    margin: 7px;
    padding: 0 3px;

}
.icon-modify{
    color: rgb(86, 95, 121);
    padding: 0 5px;
}
@media screen and (max-width:1100px){

    .container{
        width: 100%;    
    }
    .content{
        border: 1px solid rgb(105, 104, 104);
        width: 100%;
        height: 100%;
    }
    .content::before{
        display: none;
    }
     .first-column{
       display: none;
    }
}