.text-register {
  justify-self: center;
  font-weight: bold;
  font-size: 1.4rem;
  grid-row: 3;
  margin-top: 13px;
}

.form-newuser,
.message-register {
  grid-column: 2;
	display: grid;
	justify-items: center;  
}

.form-newuser {
  grid-row: 2;
}

.message-register {
  grid-row: 3;
  margin-top: 10px;
}

.link-login {
  font-size: 1.4rem;
	text-decoration: none;
}

.link-login:active {
  color: black;
}

/*celular*/
@media screen and (min-width: 300px) and (max-width: 599px) {
  .text-register {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}  
  
/*tablet*/
@media screen and (min-width: 600px) and (max-width: 699px) {
  .text-register {
    font-size: 1rem;
  }
}  