@media (min-width: 576px) {
 * {
    margin: 0px;
    padding: 0px;
 }
  .conteudoRegister{
    display: grid;
    column-gap: 50px;
    align-items: center;
    text-align:center;
    padding-top: 6%;
 }
   .input {
    width: 300px;
    height: 58px;
    border-color:#ac0feb;
    border-radius:20px 20px 20px 20px;
    margin-left: 5px;
    margin-top: 20px;
    text-align: center;
    font-size: 1em;
 }
    .paragrafoLogin{
    color:#B51D4C;
    font-size: 2em;
 }
    #btn-Cadastrar {
    background-color: rgb(255, 255, 255);
    color: #B51D4C;
    width: 200px;
    height: 40px;
    border-radius:20px 20px 20px 20px;
    border-style: solid;
    border-color: chartreuse;
    text-align: center;
    font-size: 1em;
 }
}