  .conteudoRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 1.5em;
  }
.paragraphLogin {
  color: #B51D4C;
  font-weight: 600;
  font-size: 2em;
}