.user-button {
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin: var(--spacing-medium-top-bottom);
  border: var(--border-input);
  border-radius: var(--spacing-small);
}
.user-button:active {
  transform: translateY(2px);
}
.button-pink {
  background-color: var(--color-dark-pink);
  color: var(--color-white);
}
.button-green,
.button-add-img {
  background-color: var(--color-dark-green);
}
.button-icon-post,
.button-icon-profile {
  display: flex;
  border: none;
  cursor: pointer;
}
.button-icon,
.button-icon-post,
.button-icon-post-edit {
  background-color: var(--color-white);
  border: none;
}
.button-icon-post-edit {
  border-radius: 5px;
  border: none;
}
.button-user-add-img {
  display: flex;
  padding: 10px 0;
}
.button-icon-profile {
  width: 55px;
  padding: 0;
  padding-top: 5px;
  background: var(--color-dark-green);
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-add-img {
  background-color: var(--color-dark-green);
  margin: 0;
  padding-bottom: 0;
}
.button-like {
  justify-self: start;
  margin-left: 5px;
}
.button-comment {
  justify-self: end;
  margin-right: 8px;
}
.button-feed {
  width: 100%;
  border: none;
  margin: 25px 0;
}
.icon-button {
  width: 1.625rem;
  height: 1.625rem;
}
#button-reset-password {
  width: calc(100% * 0.9);
}
#button-logout {
  margin: 0;
  border: var(--border-input-post);
  width: 160px;
  height: 30px;
  font-size: 0.75rem;
}
@media screen and (min-width: 550px) and (max-width: 1799px) {
  .user-button {
    height: 3.125rem;
    font-size: 1.25rem;
  }
  .button-feed {
    height: 2.8rem;
  }
}

@media screen and (min-width: 1800px) and (max-width: 2600px) {
  .user-button {
    height: 3.6rem;
    font-size: 1.5rem;
    margin: var(--spacing-big-top-bottom);
  }
}
