.line-post {
  height: 3px;
  width: 260px;
  background-color: var(--color-dark-green);
}
.container-comments {
  margin: 0 10px;
}
.comment-input {
  width: 242px;
  font-size: 0.75rem;
  padding: 8px;
  background-color: var(--color-light-gray);
  color: var(--color-black);
  border: var(--border-input-post);
  border-radius: 5px;
  margin: 12px 0;
}
.comment-input::placeholder {
  font-size: 0.75rem;
}
.user-comment {
  display: flex;
  justify-content: flex-start;
}
.group-comment {
  display: flex;
  flex-direction: column;
}
.user-photo-comment {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: var(--color-dark-yellow);
  border-radius: 3px;
  align-self: flex-start;
}
.group-text-comment {
  width: 220px;
  min-height: 20px;
  margin: 5px 0;
  background-color: var(--color-light-gray);
  border-radius: 5px;
  padding: 5px 0;
}
.user-name-comment {
  font-size: 0.875rem;
  font-family: var(--font-emphasis);
  font-weight: var(--font-bold);
  color: var(--color-black);
}
