.modal-dropdown,
.menu-header {
  min-width: 285px;
  max-width: 999px;
}
.menu-header {
  display: grid;
  grid-template-areas: 'logo icons';
  position: relative;
}
.container-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: logo;
}
#logo-icon {
  width: 50px;
}
#logo-header {
  display: none;
}
.menu {
  grid-area: icons;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.menu-list {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--color-dark-yellow);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-icon {
  display: block;
  width: 40px;
  height: 40px;
}
.menu-text {
  display: none;
}

@media screen and (min-width: 550px) and (max-width: 999px) {
  .menu-header,
  .modal-dropdown {
    min-width: 480px;
  }
  #logo-header {
    display: block;
    width: 180px;
  }
  #logo-icon {
    display: none;
  }
  .menu-list,
  .btn-menu {
    width: 55px;
    height: 55px;
  }
  .menu-icon {
    width: 55px;
    height: 55px;
  }
}

@media screen and (min-width: 1000px) {
  .menu-header,
  .modal-dropdown {
    min-width: 1000px;
  }
  #logo-header {
    display: block;
    width: 200px;
  }
  #logo-icon {
    display: none;
  }
  .menu-list,
  .btn-menu {
    width: 180px;
    height: 55px;
    justify-content: flex-start;
  }
  .menu-list a,
  .menu-list .btn-menu {
    display: flex;
    align-items: center;
  }
  .menu-icon {
    width: 55px;
    height: 55px;
  }
  .menu-text {
    display: block;
    font-size: 1.25rem;
    color: var(--color-dark-gray);
    font-weight: 600;
    width: 125px;
    text-align: center;
  }
}
