.modal-container {
  background-color: var(--transparent);
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0px;
  display: none;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.modal-container.active {
  display: grid;
}
.modal {
  width: 280px;
  margin: 0 auto;
  background: var(--color-dark-green);
  box-shadow: var(--shadow-big);
  border-radius: var(--spacing-small);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-close {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--spacing-small);
  border: var(--border-input);
  background-color: var(--color-dark-yellow);
  top: -12px;
  right: -12px;
  position: absolute;
  font-weight: bold;
  font-size: 1.25rem;
  box-shadow: var(--shadow);
  color: var(--color-dark-gray);
  cursor: pointer;
}
@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.active .modal {
  animation: modal 0.3s forwards;
  padding: 10px;
}
.active .modal-feed {
  padding-bottom: 0;
  padding-top: 20px;
}

@media screen and (min-width: 550px) and (max-width: 1099px) {
  .modal {
    width: 60%;
  }
}
@media screen and (min-width: 1100px) {
  .modal {
    width: 40%;
  }
}

@media screen and (min-width: 550px) and (max-width: 1799px) {
  .modal-close {
    width: 3.125rem;
    height: 3.125rem;
    top: -20px;
    right: -20px;
    font-size: 1.375rem;
  }
}

@media screen and (min-width: 1800px) and (max-width: 2600px) {
  .modal-close {
    width: 3.75rem;
    height: 3.75rem;
    top: -20px;
    right: -20px;
    font-size: 1.5rem;
  }
}
