.body-home-page {
    margin: 0;
    padding: 0;
}

.home-user-icon-posts {
    width: 30px;
    height: 30px;
    margin-top: 9px;
    margin-left: 63px;
}

.link-menu-home {
    text-decoration: none;
    display: block;
    color: white;
    padding: 20px 5px;
    text-align: center;
    cursor: pointer;
}

.menu-home {
    background: rgba(16, 16, 16, .5);
    width: 124px;
    height: 100%;
    left: -124px;
    position: absolute;
    transition: all .5s;
}

.menu-options-home {
    list-style: none;
    top: 50px;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
}

input[type="checkbox"]:checked~nav {
    transform: translateX(124px);
}

input[type="checkbox"] {
    display: none;
}

.label-user-icon-home {
    padding: 15px;
    position: absolute;
    z-index: 1;
}

.field-search-home {
    border-radius: 5px;
    width: 146px;
    height: 28px;
    margin-top: 27px;
    margin-left: 129px;
}

.button-search-home {
    width: 56px;
    margin-right: 19px;
    height: 24px;
    margin-top: 27px;
}

.section-post-published {
    width: 79%;
    height: 263px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #ffd147;
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
    padding: 12px 25px;
    margin: 30px 11px 0px;
  }
/*.button-search-home {
    text-transform: uppercase;
    font-size: 9px;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}*/