body {
    background-color: #e0e0e0;
}



.login-page 
{
    display: flex;
    justify-content:right;
    align-items: center;
    border-radius: 45px;
    background: #e0e0e0;
    box-shadow:  29px 29px 58px #bababa, -29px -29px 58px #ffffff; 
}