* {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.title-register, .subtitle-register {
    text-align: center;
    font-weight: 800;
}

.title-register {
    margin-top: 3.75rem;
    font-size: 1.375rem;
    color: rgba(189, 124, 250, 0.829);

}

.button-google {
    background-color: transparent;
    border: none;
}

.logo-google {
    padding: 12px;
    width: 55px;
    height: 40px;
}

.subtitle-register {
    font-size: 11px;
    padding: 6px;
    color: rgb(200, 202, 204);
}

.form-fields {
    border: none;
    border-radius: 10px;
    background-color: rgb(63, 51, 90);
    color: rgb(200, 202, 204);
    font-size: 9pt;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 10px 40px;
    outline: none;
    box-sizing: border-box;
    width: 208px;
    height: 28px;
    padding-left: 8px;
}

.label-name, .label-user, .label-email, .label-password {
    font-weight: 300;
    font-size: 15px;
    color: rgb(200, 202, 204);
    margin-bottom: 7px;
}

.label-name {
    margin-left: -85px;
}

.label-user {
    margin-left: -141px;
    margin-top: 7px;
}

.label-email, .label-password {
    margin-left: -147px;
    margin-top: 7px;
}

.myForm {
    display: flex;
    justify-content: center;
    background-color: #241d3f;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 10px 40px;
    margin-top: 0.625rem;
    margin-left: 1.688rem;
    margin-right: 1.688rem;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 23px;
    margin-bottom: 31px;
}

.error {
    font-size: 10px;
    display: none;
    color: rgb(200, 202, 204);
}

.button-register {
    padding: 0.375rem 0.75rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    margin-top: 1.438rem;
    margin-bottom: 1.438rem;
    color: #171329;
    background-color: rgba(184, 115, 248, 0.829);
    cursor: pointer;
    box-shadow: rgba(149, 42, 248, 0.829) 0px 10px 40px -12px;
    width: 208px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .title-register {
        font-size: 1.875rem;
    }

    .label-name, .label-user, .label-email, .label-password {
        font-size: 1.05rem;
    }

    .form-fields {
        width: 16.563rem;
        height: 2.25rem;
        font-size: 11pt;
    }

    .label-name {
        margin-left: -129px;
    }

    .label-user {
        margin-left: -194px;
    }

    .label-email {
        margin-left: -204px;
    }

    .label-password {
        margin-left: -206px;
    }

    .myForm {
        margin-left: 9.375rem;
        margin-right: 9.375rem;
    }

    .button-register {
        padding: 0.58rem 0.75rem;
        font-size: 0.9rem;
        width: 16.563rem;
    }

}

@media screen and (min-width: 1024px) {

    .title-register {
        font-size: 1.9rem;
    }

    .label-name, .label-user, .label-email, .label-password, .label-confirm {
        font-size: 18px;
    }

    .label-name {
        margin-left: -134px;
    }

    .label-user {
        margin-left: -203px;
    }

    .label-email {
        margin-left: -215px;
    }

    .label-password {
        margin-left: -216px;
    }

    .form-fields {
        width: 17.563rem;
        height: 2.30rem;
        font-size: 12pt;
    }

    .myForm {
        margin-left: 17rem;
        margin-right: 17rem;
    }

    .button-register {
        padding: 0.65rem 0.75rem;
        font-size: 0.9rem;
        width: 17.563rem;
    }

}