.main-content {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  box-shadow: 1px 2px 4px;
}
.feed-content {
  top: 20%;
}

.new-post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.recipe-input {
  background-color: #dee4e3;
  width: 45vw;
  margin: 3px;
  font-size:16px;
}

.post-btn {
  background-color: #FDAF51;
  width: 15vw;
  height: 6vh;
  border-radius: 5px;
  border: none;
  margin-top: 20px;

}

.post-btn:hover {
  box-shadow: 5px 5px 9px #acacac;
}

.new-post-writePost {
  display: flex;
  justify-content: center;
  background-color: #dee4e3;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  padding: 30px;
  width: 50vw;
  border-radius: 10px;
}

.post-content {
  background-color: #dee4e3;
  width: 45vw;
  height: 21vh;
  border: none;
  font-size: 22px;
  padding: 5px 10px;
  outline: none;
  resize: none;
  line-height: 2.3rem;

}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #eca99d88;
  position: fixed;
  bottom: 6%;
  width: 100%;
  height: 7%;
  left: 0%;
}

.logout-icon {
  display: flex;
  justify-content: flex-end;
}

.posts {
  list-style-type: none;
}

.posts li {
  cursor: pointer;
  border-bottom: 1px solid gray;
}

.posts li:hover {
  opacity: 0.8;
}


@media (max-width:1279px) {}

@media (max-width:768px) {}

@media (max-width:480px) {
  .nav-menu {
    height: 8vh;
  }
  .recipe-input{
    width: 70vw;
    margin: 10px;
  }
  .post-content {
    width: 70vw;
    height: 15vh;
    font-size: 15px;
  }
  .post-btn{
    width: 30vw;
    height: 5vh;
  }
 .new-post-writePost{
  width: 65vw;
  height: 10vh;
  border-radius: 10px;
 }
  
}