.tip {
  color: black;
  background-color: #f28241;
  border-radius: 0.625rem;
  text-align: left;
  font-size: 1.125rem;
}

.post-text {
  margin: 1.25rem;
  padding: 1.25rem;
  background-color: #f2e8d5;
  resize: none;
  border: none;
  height: 70%;
  width: auto;
}
.btns{
  display: table-row;
  background-color: #F2E8D5;
  border: none;
  z-index: 1;
}
.save{
  border-radius: 0.5rem;
  background-color: rgb(115, 181, 115);
}
.post-button {
  margin-top: 0.5rem;
  background-color: #f2e8d5;
  border-color: #f2e8d5;
  border-radius: 0.313rem;
}
.container-template {
  width: 40%;
  height: auto;
}

.box-feed {
  margin: 1rem;
  padding: 2.25rem;
  width: 21rem;
  height: 9rem;
  border-radius: 1rem;
}

ul,
li {
  background-color: #f2e8d5;
}

.postSection {
  border-radius: 1rem;
  background-color: #f2e8d5;
}

/*.button-edit,
.button-delete {
  z-index: 1;

}*/
.button-like,
.numLikes {
  border: none;
  background-color: #f2e8d5;
}

.numLikes {
  color: black;
  font-size: 0.58rem;
}

.logout {
  border: none;
  border-radius: 2rem;
  background: #f26241;
}

.button-edit,
.button-delete {
  border: none;
  z-index: 1;
  background-color: #f2e8d5;
}

.userPost {
  margin-top: -2rem;
}

.userPost,
.userText,
.numLikes {
  color: black;
  border-radius: 0.625rem;
  text-align: left;
  background-color: #f2e8d5;
}

@media screen and (min-width: 360px) and (max-width: 915px) {
  .logo {
    margin-top: 30%;
  }

  .title {
    margin-top: 20%;
    width: 80%;
    height: auto;
  }

  .container-template {
    width: 83%;
    height: auto;
  }
  .box-feed {
    width: 83%;
    height: auto;
  }

  .post .post-text {
    width: 60%;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1900px) {
  .title {
    margin-top: 4.754rem;
  }
  .container-template {
    width: 80%;
    height: auto;
  }
  .tip,
  .post-text,
  .post-button {
    width: 80%;
    height: auto;
  }

  .box-feed {
    width: 100%;
    height: auto;
  }

  .post-text {
    width: 80%;
    height: auto;
  }

  .post-button {
    width: auto;
    height: auto;
    border-radius: 6.25rem;
  }

  .post {
    width: 200%;
    height: auto;
  }
}
