.main-content {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  box-shadow: 1px 2px 4px;
}
.filter-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.recipe-search{
  width:20vw;
}
.logout-btn{
display: flex;
justify-content: flex-end;
}
.posts {
  list-style-type: none;
}
.posts li{
  cursor:pointer;
  border-bottom: 1px solid gray;
}
.posts li:hover{
  opacity: 0.8;
}