/*.post{
  display: flex;
  justify-content: center;
}*/
.tip {
  color: black;
  background-color: #F28241;
  border-radius: 10px;
  text-align: left;
}
.post-text{
  background-color: #F2E8D5;
  resize: none;
  border: none;
}
.post-button{
  background-color: #F2E8D5;
  border-color: #F2E8D5;
  border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1900px) {
  .tip, .post-text, .post-button{
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
  }
  .post-text{
    width: auto;
  }
  .post-button{
    width: auto;
    height: auto;
    border-radius: 100px;
  }
}
