:root {
  --color-error: red;
  --font-color-button: white;
  --gray-default: gray;
  --purple-border-body: #6a2b7b;
  --purple-gradient: rgb(103, 41, 125);
  --purple-hover: rgb(76, 24, 94);
  --yellow-border-body: #fbc41c;
  --yellow-gradient: #fac31c;
  --yellow-hover: rgb(212, 166, 28);
  --yellow-font: #ecb200;
}

.nav-bar button,
.menu-icons {
  background: none;
  border: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.root {
  height: 100vh;
  border-left: solid 0.3rem var(--yellow-border-body);
  border-right: solid 0.3rem var(--purple-border-body);
}

.login,
.signup {
  height: 99%;
}

.content {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-login,
.main-signUp {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 80%;
}

h2 {
  color: var(--yellow-font);
  margin-top: -2.5rem;
  margin-bottom: 0.9rem;
  text-align: center;
}

form {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 0.9rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.imgPhones {
  display: none;
}

input {
  height: 2rem;
  border-style: none;
  border: 0.1rem solid var(--gray-default);
  border-radius: 0.125rem;
  padding-left: 0.625rem;
  margin-bottom: 0.5rem;
  outline: none;
}

input::placeholder {
  color: var(--gray-default);
  opacity: 0.7;
}

input:focus {
  border-color: var(--yellow-font);
}

.mensagemErro {
  color: var(--color-error);
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

.btnEntrar,
.buttonRegister {
  height: 2rem;
  width: 100%;
  border-style: none;
  border-radius: 0.125rem;
  background-image: linear-gradient(to right, var(--purple-gradient), var(--yellow-gradient));
}

.btnEntrar a,
.buttonRegister a {
  text-decoration: none;
  color: var(--font-color-button);
  font-weight: bold;
}

.btnEntrar:hover,
.buttonRegister:hover {
  background-image: linear-gradient(to right, var(--purple-hover), var(--yellow-hover));
}

.alternativaLogin {
  color: var(--yellow-font);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.alternativaLogin div {
  background-color: var(--yellow-font);
  height: 0.05rem;
  width: 60%;
}

.alternativaLogin p {
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1rem;
}

.recoverPassword {
  text-decoration: none;
  color: var(--yellow-font);
  font-size: 0.8rem;
  margin-bottom: 1.4rem;
}

.buttons {
  margin-bottom: 1rem;
}

.buttonsSignup {
  margin-top: 1rem;
}

.buttons p {
  color: var(--yellow-font);
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
  text-align: center;
}

.google,
.facebook,
.github {
  height: 2rem;
  width: 2.5rem;
  border: none;
  border-radius: 50%;
  background: none;
}

.iconGoogle,
.iconFacebook,
.iconGithub {
  height: 2rem;
}

.criarConta,
.irParaAConta {
  color: var(--yellow-font);
  font-size: 0.8rem;
  font-weight: bold;
}

.criarConta a,
.irParaAConta a {
  text-decoration: none;
  color: var(--purple-gradient);
  font-weight: bold;
}

.copyright {
  height: 0.7rem;
}

.devs {
  color: var(--gray-default);
  font-size: 0.8rem;
  text-align: center;
  height: 3.4rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media screen and (min-width: 1024px) {
  .main-login,
  .main-signUp {
    margin-top: -4rem;
  }
  .logo {
    margin-top: 2rem;
  }
  .imgPhones {
    margin-right: 2rem;
    display: block;
    height: 90%;
  }
}