:root {
    --gray-default: gray;
    --purple-border-body: #6a2b7b;
    --purple-gradient: rgb(103, 41, 125);
    --purple-hover: rgb(102, 32, 126);
    --yellow-border-body: #fbc41c;
    --yellow-gradient: #fac31c;
    --yellow-hover: rgb(212, 166, 28);
    --yellow-font: #ecb200;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.root {
    height: 100vh;
    border-left: solid 0.3rem var(--yellow-border-body);
    border-right: solid 0.3rem var(--purple-border-body);
}

.login {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-login {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 80%;
    margin-top: -6rem;
}

h2 {
    color: var(--yellow-font);
    margin-bottom: 1rem;
}

form {
    width: 70%;
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input {
    height: 2rem;
    border-style: none;
    border: 0.1rem solid var(--gray-default);
    border-radius: .125rem;
    padding-left: .625rem;
    margin-bottom: 1rem;
    outline: none;
}

input::placeholder {
    color: var(--gray-default);
    opacity: 0.8;
}

input:focus {
    border-color: var(--yellow-font);
}

.btnEntrar {
    height: 2rem;
    width: 100%;
    border-style: none;
    border-radius: .125rem;
    background-image: linear-gradient(to right, var(--purple-gradient), var(--yellow-gradient));
    margin-top: 0.5rem;
}

.btnEntrar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btnEntrar:hover {
    background-image: linear-gradient(to right, var(--purple-hover), var(--yellow-hover));
}

.recoverPassword {
    color: var(--yellow-font);
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

.buttons {
    margin-bottom: 1rem;
}

.buttons p {
    color: var(--yellow-font);
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.7rem;
    text-align: center;
}

.google,
.facebook,
.github {
    height: 2rem;
    width: 2.5rem;
    border: none;
    border-radius: 50%;
    background: none;
}

.iconGoogle,
.iconFacebook,
.iconGithub {
    height: 2rem;
    background: none;
}

.criarConta {
    color: var(--yellow-font);
    font-size: 0.8rem;
    font-weight: bold;
}

.criarConta a {
    text-decoration: none;
    color: var(--purple-gradient);
    font-weight: bold;
}

.copyright {
    height: 0.7rem;
}

.devs {
    color: var(--gray-default);
    font-size: 0.8rem;
    margin-top: 1.9rem;
    text-align: center;
}

@media screen and (min-width: 346px) {
}