.login,
.signup {
  height: 100%;
  width: 101.3%;
  border-left: solid 0.3rem var(--yellow-border-body);
  border-right: solid 0.3rem var(--purple-border-body);
}

.container {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-login,
.main-signup {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 80%;
}

form {
  width: 70%;
  height: 85%;
  margin-top: 1rem;
  margin-bottom: 0.9rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h2 {
  color: var(--yellow-font);
  margin-top: -2.5rem;
  margin-bottom: 0.9rem;
  text-align: center;
}

form input {
  height: 2rem;
  border-style: none;
  border: 0.1rem solid var(--gray-default);
  border-radius: 0.125rem;
  padding-left: 0.625rem;
  margin-bottom: 0.5rem;
  outline: none;
  background: transparent;
}

input::placeholder {
  color: var(--gray-default);
  opacity: 0.7;
}

input:focus {
  border-color: var(--yellow-font);
}

.error-message {
  color: var(--color-error);
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

.enter-button,
.register-button {
  height: 2rem;
  width: 100%;
  border-style: none;
  border-radius: 0.125rem;
  background-image: linear-gradient(to right, var(--purple-gradient), var(--yellow-gradient));
  cursor: pointer;
}

.enter-button a,
.register-button a {
  text-decoration: none;
  color: var(--font-color-button);
  font-weight: bold;
}

.enter-button:hover,
.register-button:hover {
  background-image: linear-gradient(to right, var(--purple-hover), var(--yellow-hover));
}

.redefine-password {
  text-decoration: none;
  color: var(--yellow-font);
  font-size: 0.8rem;
  margin-top: 1.4rem;
  cursor: pointer;
}

.login-alternative {
  color: var(--yellow-font);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.login-alternative div {
  background-color: var(--yellow-font);
  height: 0.05rem;
  width: 60%;
}

.login-alternative p {
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1rem;
}

.buttons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.google,
.facebook,
.github {
  height: 2rem;
  width: 2.5rem;
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

.google-icon,
.facebook-icon,
.github-icon {
  height: 2rem;
}

.createAnAccount,
.goToAccount {
  color: var(--yellow-font);
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 1rem;
}

.createAnAccount a,
.goToAccount a {
  text-decoration: none;
  color: var(--purple-gradient);
  font-weight: bold;
}

.phones-image {
  display: none;
}

.devs {
  color: var(--gray-default);
  font-size: 0.8rem;
  text-align: center;
  height: 3.4rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media screen and (min-width: 1024px) {
  .main-login,
  .main-signup {
    margin-top: -4rem;
  }
  .logo {
    margin-top: 2rem;
  }
  .phones-image {
    margin-right: 2rem;
    display: block;
    height: 90%;
  }
}
