@import url('http://fonts.googleapis.com/css?family=Anton');
*{
    margin: 0.75rem;
    padding: 0.25rem;
    background-color: #283040;
    font-family: Anton; 
}
.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 13em;
}
.title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1.25rem;
    align-items: center;
}
.email, .password, .enter, .google{
    display: grid;
    background-color: #F2E8D5;
    position: relative;
    border : 0.063rem solid;
    border-radius: 1.188rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 15em;
    height: 1.25em;
    
}
.google, p{
    background-color: #283040;
    border-color: #283040;
    color: #fff;
    font-size: 0.75em;
    text-align: center;
    margin: 1.5rem;
    width: 8em;
    height: 3em;
}
.enter{
    display: grid;
    margin: -0.1rem;
    padding: 0.75rem;
    width: 8em;
    height: 3em;
}

a {
    margin: 2rem;
    text-decoration: none;
    color: #fff;
    justify-content: center;
    text-align: center;
   }
