@import url('http://fonts.googleapis.com/css?family=Anton');
*{
    margin: 0;
    background-color: #283040;
}
.logo{
    align-items: center;
}
.title {
    color: #fff;
    font-family: Anton;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    align-items: center;
}
.email, .password, .enter, .google{
    display: grid;
    background-color: aliceblue;
    border : 1px solid;
    border-radius: 5px;
}

