* {
   padding: 0px;
   margin: 0px;   
}
body {
   background: #F3FFC6;
   color: #306B35;   
   margin-top: 0px;
}


@media (min-width: 576px){

   .conteudoComeço{
   background: #F3FFC6;
   width: 70%;
   height: 80vh;
   margin-left: 15%;
   text-align:center;
   padding-top: 6%;  
}

  .boasVindas{
   font-size: 1.9em;
   margin-bottom: 50px;
   color: #B51D4C;
}

  .mensagem   {
   margin-top: 10%;
   font-size: 1.5em;
}

   .criar-entrar {
   font-size: 1.5em;
   margin-top: 15%;
}
}


@media (min-width: 768px) {
   .mensagem{
     font-size: 1.5em;
     margin-left: 6% ;
     margin-right: 6%;
  }
   .criar-entrar{
     font-size: 1.5em;
     margin-top: 10%;
  }
}


