@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Cinzel&family=Cinzel+Decorative&family=Press+Start+2P&family=Special+Elite&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alice&family=Bebas+Neue&family=Cinzel&family=Cinzel+Decorative&family=Press+Start+2P&family=Special+Elite&family=Staatliches&display=swap');

*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh ;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 75% 10%;
    background-color: #000000;
}

header {
    padding: 1%;
    width: 100%;
    background-color: #313131;
}

header img{
    height: 90%;
    width: auto;
}


.link-header {
    font-size: 30px;
    font-family: 'Cinzel Decorative';
    align-self: center;
    justify-self: center;
}

header a{
    display: grid;
    height: 100%;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 100%;
}

a{  
    color: white;
    text-decoration: none;
    font-family: 'Alice';
}

.footer {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #313131;
  text-align: center;
  box-shadow: none;
}

.footer, a :visited{
    color: white
}

@media (min-device-width: 819px) {
    body{
        grid-template-rows: 15% 80% 5%;
    }

    .link-header{
        font-size: 50px ;
    }

    footer{
        font-size: 20px;
    }
}