.card {
  border: 2px solid rgba(45, 44, 44, 0.7);
  background-color: rgba(231, 207, 177, 0.8);
  padding: 5px;
  margin: 15px;
  width: 30rem;
  align-items: center; 
}

.card p {
  margin: 10px;
}

.post-infos {
margin: 10px;
}

.date-card {
font-style:oblique;
}