*{
  padding: 0;
  margin: 0;
}
body {
  background: #1C232E;
  font-family: Sawarabi Gothic;
  font-style: normal;
  color: #dadada;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

a{
  color: #dadada;
}
.container-login{
  width: 100%;
  height: 100%;

}
.form-login{
  width: 90%;
  height: 107%;
  margin: auto;
  margin-top: 1.5rem;
  background: #2F3A4B;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.input-users{
  width: 12rem;
  text-align: center;
  height: 3rem;
}
.btn-google{
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 3rem;
}
 .logo-google{
  width: 2rem;
  margin-right: 1rem;

 }
.btn-submit{
  height: 3rem;
  width: 12rem;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;

}

.name-page {
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 3.3rem;

}
.footer {
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  margin: 34% 7% 8% 5%;
  /* top left bottom right*/

}
.paragraph{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 4rem;
}
@media  ( min-width:500px) and (max-width:700px){
  .form-login{
    width: 73%;
  }.input-users {
    width: 18rem;}
    .btn-submit{
      width: 18rem;
    }.btn-google{
      width: 18rem;
   
    }
}


@media  ( min-width:701px) and (max-width:1920px){
  #root{
    width: 50vw;
    height: 112vh;
}.form-login {
  width: 100%;
  margin-left: 7rem;
  padding: 40px;
  }.container-login {
    width: 84%;
    height: 84%;
    margin-left: 19rem;}
}
