.root {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.box-feed {
  width: 100%;
}

.header-feed {
  flex-direction: row;
  justify-content: space-between;
  background: var(--light-yellow);
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid;
  border-color: var(--mustard);
  z-index: 1;
}

.menu .link {
  display: block;
  padding: .5rem;
  margin: 0 1rem;
  border-bottom: 2px solid var(--mustard);
}

.btn-log-out {
  width: 100px;
  background: transparent;
  cursor: pointer;
}

.link:hover .btn-log-out:hover {
  background: var(--mustard);
}

.link .btn-config {
  color: var(--black);
}

.menu {
  display: block;
  gap: .5rem;
  position: absolute;
  width: 50%;
  top: 68px;
  right: 0;
  background: var(--light-yellow);
  box-shadow: -1rem 0rem 3rem var(--shadowheader);
  transition: .6s;
  height: 0px;
  z-index: 1;
  visibility: hidden;
  overflow-y: hidden;
  border: 0px 1px 1px 1px solid var(--mustard);

}

.btn-mobile {
  display: flex;
  padding: .5rem;
  font-size: 1rem;
  background: none;
  cursor: pointer;
  gap: .5rem;
}

.hamburguer {
  border-top: 2px solid var(--lilac);
  width: 20px;
  margin-top: 15px;
}

.hamburguer::after,
.hamburguer::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: var(--lilac);
  margin-top: 5px;
  transition: .3s;
  position: relative;
}

.nav-options.active .hamburguer {
  border-top-color: transparent;
}

.nav-options.active .hamburguer::before {
  transform: rotate(135deg);

}

.nav-options.active .hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}

.nav-options.active .menu {
  visibility: visible;
  height: calc(90vh - 170px);
  overflow-y: auto;
}

.user-perfil-img-feed {
  margin-top: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.logo-img-feed {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.logo-img-feed-user-message {
  width: 200px;
  height: 200px;
}

.main-post {
  background: var(--backgroud-feed);
  width: 100%;
}

.section-feed {
  margin-top: 80px;
  width: 100%;
  justify-content: center;
}

.btn-post-input-apear {
  font-size: 50px;
  background: var(--lilac);
  border-radius: 50%;
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 10px;
  right: 10px;
  opacity: 1.0;
  z-index: 999;
  transition: .6s;
}

.form-post-apear {
  position: fixed;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: var(--light-pink-opacity);
  height: 0px;
  z-index: 900;
  visibility: hidden;
  overflow-y: hidden;
  padding: 10% 5% 0 5%;
}

.section-input-post.active .form-post-apear {
  visibility: visible;
  height: 100vh;
  overflow-y: auto;
}

.section-input-post.active .btn-post-input-apear {
  transform: rotate(135deg);
}

.input-post {
  margin-top: 200px;
  border-radius: 10px;
  border: 2px solid var(--mustard);
  width: 100%;
  height: 100px;
  resize: none;
  text-align: center;
}

.btn-post {
  cursor: pointer;
  font-weight: bold;
  background: var(--lilac);
  border-radius: 10px;
  margin-top: 10px;
  height: 50px;
  width: 200px;
}

.message-without-user {
  margin-top: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.without-user {
  font-size: 20px;
}

.link-login-button {
  background: transparent;
  color: var(--lilac);
  font-size: 20px;
  text-decoration: underline;
}

.warnings-feed {
  box-shadow: 0 0 1em var(--black-shadow);
  padding: 2%;
  z-index: 999;
  display: block;
  visibility: hidden;
  position: fixed;
  border: 2px solid var(--black-shadow);
  border-radius: 10px;
  top: 80px;
  margin: 0 10% 0 10%;
  background: var(--white);
  height: auto;
  width: 70%;
  text-align: center;
}

.warnings-feed-post,
.warnings-feed-empty-post,
.warnings-feed-general {
  display: none;
}

.warnings-feed-post.active,
.warnings-feed-empty-post.active,
.warnings-feed-general.active {
  display: block;
}

.warnings-feed.active {
  visibility: visible;
}

@media (min-width: 1024px) {
  .user-perfil-img-feed {
    margin-top: 20px;
    width: 120px;
    height: 120px;
    margin-left: 20px;
  }

  .header-feed {
    background-image: url(../../img/CapaKF.PNG);
    height: 100px;
  }

  .menu {
    top: 100px;
  }

  .logo-img-feed {
    visibility: hidden;
  }

  .hamburguer {
    border-top: 10px solid var(--black);
    margin-top: 30px;
    width: 50px;
  }

  .hamburguer::after,
  .hamburguer::before {
    width: 50px;
    height: 10px;
    background: var(--black);
    margin-top: 8px;
  }

  .nav-options.active .hamburguer::after {
    top: -19px;
  }

  .section-feed {
    border-left: 2px solid var(--mustard);
    border-right: 2px solid var(--mustard);
    margin-left: 19%;
    margin-top: 110px;
    width: 80%;
  }
}

/* } */