@media (min-width: 360px) {
  
    body {
      background-color: beige;
    }
     
    .postt {
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        width: 80%;
        margin-top: 15px;
        margin-left: 40px;
        text-align: center;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 2px 2px 2px 2px grey;
    }

    #titulo {
        width: 180px;
        height: 30px;
        border-radius:5px 5px 5px 5px ;
        margin-left: 30px;
        margin-top: 20px;
        text-align: center;
        font-size: 0.9em;
        box-shadow: 2px 2px 2px grey;
    }
    
    #postText {
        width: 300px;
        height: 58px;
        border-radius:5px 5px 5px 5px ;
        margin-left: 30px;
        margin-top: 10px;
        text-align: center;
        font-size: 0.9em;
        box-shadow: 2px 2px 2px grey;
    }

    #btnPost {
        width: 300px; 
        border-radius:6px 6px 6px 6px ;
        height: 30px;
        margin-left: 35px;
    }
  
  
  
  
    .divPost {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:white;
    border-radius: 2px 2px 2px 2px;
    margin-top: 20px;
    margin-left: 60px;
    padding-left:12px;
    padding-right:12px;
    padding-bottom: 12px;
    padding-top: 12px;
    width: 60%;
    border-radius:30px 30px 30px 30px ;
    box-shadow: 2px 2px 2px 2px grey;
    }

    .tItulo{
      text-align: center;
      margin-top: 7px;
      margin-bottom: 3px;
      font-size: 1.2em;
    }

    .pOst {
      margin-left: 15px;
      margin-left: 15px;
    }
}

@media (min-width: 810px) {

    #titulo {
        width: 200px;
        margin-left: 50px;
    }
    
    #postText {
        width: 650px;
        margin-left: 50px; 
    }

    #btnPost {
        margin-left: 240px;
    }

    .divPost {
        margin-left: 140px;  
    }
}
