@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.main {
  margin-bottom: 40px;
  border-top: 0.3px solid #FFF2E7;
}

.main-form {
  display: flex;
    
    }

.write-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center; 
  padding: 30px;
    
}

.input-text {
  height: 150px;
  width: 300px;
  border-radius: 4px;
  margin-top: 25px;
  text-transform: capitalize;
  font-size: 15px;
  }
  
.btn-publish {
  display: flex;
  height: 30px;
  width: 100px;
  background-color: rgba(122,	9,	140, 0.9);
  border-radius: 5px;
	border: 0;
	color: white;
	font-weight: bold;
	cursor: pointer;
	font-size: 1.1rem;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.btn-publish:active {
	background-color: black;
	transition: 0s;
}

.publications,
.new-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center; 
  font-size: 18px;
}

.last-poems,
.welcome-title {
  font-family: 'Sarala', sans-serif;
  font-style: bold;
  font-size: 30px;
  padding: 20px;
}

.card {
  border: 2px solid rgba(45, 44, 44, 0.7);
  background-color: rgba(231, 207, 177, 0.8);
  padding: 5px;
  margin: 15px;
  width: 30rem;
  align-items: center; 
}

.card p {
  margin: 10px;
}

.post-infos {
margin: 10px;
}

.date-card {
font-style:oblique;
}

.write-message {
font-family:"Merriweather", sans-serif;
font-size: 20px;
}

.author{
  font-style:italic;
}

.button-heart-text{
  background-color: transparent;
  border: none;
  font-size: 15px;
  outline: none;
  color: rgb(0, 0, 0);
  cursor: pointer;

}

.button-heart {
  background-color: transparent;
  border: none;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.like-btn {
  font-size: 25px;
  margin-left: 10px;
  color: grey;
}

.like-btn.liked {
  color: purple;
}

.message{
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Sarala', sans-serif;
  background-color: rgba(192, 188, 184, 0.3);
}

@media screen and (min-width: 300px) and (max-width: 667px) {
  .content-feed {
    display: block;
    text-align: center;
  }
  .welcome-title,
  .last-poems {
    font-size: 25px;

  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

.content-feed {
  display: block;
  text-align: center;
}

.input-text {
  height: 180px;
  width: 400px;
}

  .btn-publish {
    height: 50px;
    width: 130px;
    font-size: 25px;
  }

  .publications {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center; 
    padding-top: 50px;
    font-size: 20px;
  }

  .last-poems {
    font-style: bold;
    font-size: 35px;
  }

  .date-card {
    font-size: 18px;
    }
    
    .write-message {
    font-family:"Merriweather", serif;
    font-size: 20px;
    }
    
    .author{
      font-style:italic;
    }
  }