.text {
  background-color: bisque;
}

.icone-user{
  width: 20%;
  padding: 5px;
  margin: 0px 10px 10px 0;
}

.card-user{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 18px;
  border: 2px solid rgba(45, 44, 44, 0.7);
  background-color: rgba(231, 207, 177, 0.8);
  margin: 0;
}