* {
    margin: 0;
    padding: 0;}
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50%;
  
}
.input-email,
.input-password {
    border-radius: 8px;
    text-align: center;
    margin-bottom: 2%;
    height: 30px;
    font-size: 19px;
    background-color: #F2F2F2;
    border: black;
    align-self: center;
}
.enter {
    background-color: #F26E22;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    border-radius: 8px;
    height: 25px;
    font-size: 16px;
    box-shadow: 7px 6px 5px grey;
    border: black;
}
.container p {
    margin: auto;
    position: relative;
    top: 50px;
}
.google-button {
    width: 60%;
    height: 25px;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: #F2AA80;
    font-size: 16px;
    box-shadow: 7px 6px 5px grey;
    border: black;
    border-radius: 8px;
    color: black;
    position: relative;
    top: 100px;
}
.google-logo {
    width: 20%;
}
.register {
    margin: auto;
}
.register a {
    color: black;
    float: inline-end;
    position: relative;
    top: 340px;
}