.template {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 40%;
    left: 18%;
}
.username,
.confirm-password {
    border-radius: 8px;
    text-align: center;
    margin-bottom: 2%;
    height: 30px;
    font-size: 19px;
    background-color: #F2F2F2;
    border: black;
    align-self: center;    
}
.user-register {
    margin: auto;
}
.user-register a {
    color: black;
    float: inline-end;
    position: relative;
    top: 240px;
}