.nav-section ul {
    margin-left: 40%;
}
.nav-section ul li{
    display: inline;
    font-size: 20px;
    margin-left: 5%;
    color: black;
}
hr{
    border-color: black;
}
.logout {
    background-color: #F26E22;
    width: 20%;
    height: 20px;
    margin-bottom: 10%;
    border-radius: 8px;
    box-shadow: 7px 6px 5px grey;
    border: black;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}
.feed-section {
    margin-top: 5%;
    margin-left: 20px;
}
.title,
.text {
    display: flex;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    height: 30px;
    font-size: 19px;
    background-color: #F2F2F2;
    border: black;
    align-self: center;
    margin: auto;
}
.text {    
    padding-bottom: 20%;
    margin-top: 2%;
}
.like {
    width: 18px;
    position: relative;
    margin-left: -10%;
}
.btn-post{
    background-color: #F26E22;
    width: 20%;
    margin-top: 3%;
    border-radius: 8px;
    height: 20px;
    font-size: 16px;
    box-shadow: 7px 6px 5px grey;
    border: black;
    font-weight: bold;
    position: relative;
    left: 70%;
}