@import url(./timeline/menu.css);

/* general */
.user-post,
.container-internal,
#form-profile,
[data-menu='open'] {
  width: 285px;
}
.user-post,
.container-internal,
#form-profile {
  width: 285px;
  background-color: var(--color-white);
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.user-post,
#form-profile {
  padding: 20px 10px;
  position: relative;
}
#form-profile {
  margin: 0;
}
.container-internal {
  background: var(--color-dark-gray);
  height: 80vh;
  padding-top: 0;
}
.post-text,
.comment-text,
.friend-card,
.add-comment-input,
.add-post-input,
.profile-header,
.user-description-text,
.search-input,
.header-profile,
.container-internal-list,
.comment-card,
.modal-container-itens,
.post-footer,
.post-header,
.line-post,
#form-profile,
.profile-description,
.user-form-login {
  width: 100%;
}
.post-text,
.comment-text,
.friend-card,
.add-comment-input,
.add-post-input,
.profile-header,
.user-description-text,
.search-input,
.header-profile,
.post-header {
  margin-bottom: 10px;
}
.label-profile {
  margin-top: 10px;
}
.post-text,
.comment-text,
.friend-card,
.add-comment-input,
.add-post-input,
.profile-header,
.user-description-text,
.search-input,
.header-profile {
  background-color: var(--color-light-gray);
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--color-black);
  text-align: start;
}
.header-profile {
  margin-bottom: 20px;
  background-color: var(--color-dark-green);
  padding: 10px;
  display: grid;
  grid-template-areas: 'user-photo description';
}
.post-text,
.comment-text,
.add-comment-input,
.add-post-input,
.profile-header,
.user-description-text {
  resize: none;
  outline: none;
  overflow: hidden;
}
.post-header,
.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-header,
.user-description-text {
  background-color: var(--color-white);
}
.post-timeline,
.add-comments,
.comments-general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.friend-card {
  background-color: var(--color-dark-green);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post-text {
  margin: 5px 0;
}
.comment-text {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  font-size: 0.75rem;
}
.user-description-text {
  padding: 0;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: var(--color-dark-green);
  margin: 5px 0 0 0;
}
.user-comment {
  display: flex;
  justify-content: flex-start;
}
.post-footer {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.add-post-footer {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-top: 10px;
}
.label-profile {
  font-weight: 600;
  font-size: 1rem;
}
.post-text-yellow {
  background: var(--color-dark-yellow);
}
.post-text-yellow::placeholder {
  color: var(--color-medium-gray);
}
#file-upload-image {
  border: none;
}
input[type='file'] {
  display: none;
}
.line-post {
  margin: 15px 0;
  height: 3px;
  background-color: var(--color-dark-green);
}

/* page add comment entry */
.add-comment-input,
.add-post-input {
  border: var(--border-input-post);
}
.add-comment-input {
  margin: 0 0 20px 0;
}
.add-post-input {
  height: 200px;
  background-color: var(--color-light-yellow);
  margin: 0;
}
.add-comment-input::placeholder,
.add-post-input::placeholder {
  font-size: 0.75rem;
}
.icon-container-edit-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

/* create new post */
.modal-header {
  width: 90%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* page friends */
.search-input {
  height: 40px;
  margin-bottom: 20px;
  color: var(--color-white);
  background-color: var(--color-dark-pink);
  border: none;
  background-image: url('../../img/icons/icon-search.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 96% center;
  padding: 20px 30px 20px 10px;
  font-size: 0.875rem;
  text-align: left;
}
.search-input::placeholder {
  color: var(--color-medium-ligh-gray);
}

/* user information */
.user-information {
  width: 100%;
  grid-area: description;
}
.user-information p {
  display: block;
  width: 100%;
}
.user-link-photo,
.user-link-photo-comment {
  border-radius: 4px;
  background-color: var(--color-dark-yellow);
  margin-right: 10px;
  display: flex;
  column-gap: 20px;
}
.user-link-photo {
  width: 35px;
  height: 35px;
}
.user-link-photo-card,
.user-link-photo-profile {
  margin-top: 5px;
  align-self: flex-start;
}
.user-link-photo-profile {
  background: var(--color-dark-pink);
}
.user-link-photo-comment {
  width: 30px;
  height: 30px;
}
.user-link-photo-profile,
.user-photo-profile {
  width: 55px;
  height: 55px;
}
.user-link-photo-profile {
  margin-right: 15px;
}
.user-photo-container-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: user-photo;
}
.user-photo-post {
  width: 35px;
  height: 35px;
  align-self: center;
}
.user-photo-comment {
  width: 30px;
  height: 30px;
  align-self: flex-start;
}
.user-name,
.user-name-comment {
  font-family: var(--font-emphasis);
  font-weight: 600;
  color: var(--color-black);
}
.user-name {
  font-size: 1rem;
  text-align: left;
}
.user-name-comment {
  font-size: 0.875rem;
}
.post-date {
  font-size: 0.75rem;
  text-align: left;
}
.user-friend-name {
  font-size: 0.875rem;
}
.friend-small-text {
  font-size: 1rem;
}
.user-container-image {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background-color: var(--color-dark-pink);
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-profile-image {
  width: 80px;
  height: 80px;
}

/* icons */
.icon-user-profile {
  height: 12px;
  margin-right: 5px;
}
.post-icon,
.post-icon-edit {
  height: 16px;
  margin-right: 5px;
}
.post-icon-edit {
  margin: 10px;
  background-color: var(--color-white);
}
.post-icon-text {
  font-size: 0.75rem;
  color: var(--color-black);
}
.post-number-like,
.post-number-comment {
  margin-right: 3px;
}
