#form-profile {
  width: calc(100% - 20px);
  box-sizing: border-box;
  background: var(--color-light-gray);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}
.foto-perfil {
  margin: 0 auto;
  height: 160px;
  width: 160px;
  border-radius: 5px;
  background-color: var(--color-dark-yellow);
  border: var(--color-light-pink) 1px solid;
}
#alterar-imagem {
  cursor: pointer;
  color: var(--color-dark-pink);
}
#alterar-imagem:hover {
  color: var(--color-black);
}
#img-alterar-imagem {
  height: 20px;
  margin: 0 5px;
}
.linha,
.linha label,
.linha input,
.linha textarea {
  width: 100%;
  display: block;
  border: none;
}
.centralizar-verticalmente {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.linha label {
  text-align: left;
  font-size: 16px;
}
.linha input,
.linha textarea {
  background-color: var(--color-dark-yellow);
}
.btn-atualizar {
  background-color: var(--color-dark-green);
  border: var(--color-black) 1px solid;
  margin: 40px;
  width: calc(100% - 10px);
}
