
@import '../Styles/Variables.Css';

body{
    background-color: var( --background-color) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#root{
  background-color:var(--shadow) ;
  border-radius: 10px;
  width: 80vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
}
#root form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 20px;
}
#root .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
  }
a{
  text-decoration: none;
  color:var(--font-color);
}

form input{
  background: rgba(74, 90, 116, 0.5);
  color: var(--font-color);
  border-color:var(--background-color) ;
  width: 60vw;
  height: 4vh;
  border-radius: 5px;
  padding-left: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
form button{
  background: var(--menu);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  width: 40vw;
  height: 5vh;
}
#termsUse {
  background: var(--menu);
  width: 60vw;
  height: 34vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  text-align: center;
  border-radius: 5px;
}
#termsUse #paragraph{
  background: #697B95;
  width: 50vw;
  height: 34vh;
  font-size: 0.9rem;
  overflow-y: scroll;   
}
#termsUse h1{
 font-size: 1.4rem;
}

#paragraph label{
  font-size: 0.9rem;
}
#erro{
  width: 40vw;
  height: 3vh;
  text-align: center;
  color: var(--font-color-error);
}