body {
  display: flex;
  flex-direction: column;
}
.publicated {
  background-color: #d6e0e2;
  border-radius: 5px;
  width: 80%;
  margin: auto;
}
.published-title {
  color: hsl(206deg 100% 40%);
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  padding-top: 5%;
  font-variant-caps: all-petite-caps;
}
.published-text {
  color: rgb(44, 43, 43);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  padding-bottom: 5%;
  flex-wrap: hard;
}
.user-name {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
}
.container-like {
  display: flex;
  width: 30%;
  margin-left: 4%;
  margin-bottom: 4%;
  align-items: center;
}
.buttons-like {
  border-radius: 50%;
  width: 30%;
  border: black;
  margin-right: 5%;
  background-color: transparent;
}
.img-like {
  width: 80%;
}
.likes {
  font-weight: bold;
  padding-top: 10%;
} 

@media (min-width: 768px) and (max-width: 2142px) {
  .publicated {
    margin: auto;
    margin-left: 15vh;
    margin-right: 15vh;
    border-radius: 5px;
    width: 80%;
  }
  .container-like {
    width: 30%;
    margin-left: 0%;
  }
  .buttons-like {
    margin-right: 0%;
  }
  .img-like {
    width: 45%;
  }
}
