<!-- implementação do menu que ira receber as opções de deletar e editar o post -->
<nav id="nav-options" class="nav-options" aria-expanded="false">
  <button id="btn-mobile" class="btn-mobile flex">
    <span id="hamburguer" class="hamburguer"></span>
  </button>
  <ul id="menu" class="menu ">
    <li class="link"><button class="btn-log-out" id="btn-log-out"></button>Sair</li>
  </ul>
</nav>

      <button class="btn-config-post">
        <span id="balls" class="balls"></span>
      </button>
      <ul class="configs-post">
        <li class="btn-config"><button
        id="data-post-remove" 
        class="btn-config remove">Remover</button></li>
        <li class="btn-config"><button class="modify
        btn-config">Editar</button></li>
      </ul>`;