.box-post {
  width: 100%;
}

.informations-user {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding: 2%;
}

.photo-name-post {
  flex-direction: row;
}

.section-figure-comment {
  width: 50px;
}

.post-text-comment {
  margin: 2% 2% 2% 18%;
  width: 80%;
  height: auto;
}

.section-figure-comment-img {
  align-items: center;
  width: 100%;
}

.post-img-user {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.name-modified-status {
  margin: 4px 0px 4px 5px;
}

.message-modified-post {
  height: 20px;
}


.btn-config-post {
  cursor: pointer;
  font-weight: bold;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.config-btn-nav {
  cursor: pointer;
}

.configs-posts {
  display: flex;
}

.meatball-menu {
  height: 20px;
  width: 6vw;
  margin-top: 5px;
  background: transparent;
  justify-content: space-between;
}

.meatball-menu span {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: var(--black);
}

.menu-edit-remove {
  display: none;
  position: absolute;
  width: 130px;
  margin-top: 20px;
  right: 0;

}

.menu-edit-remove.active {
  display: block;
}

.img-delete,
.img-edit,
.btn-like-post,
.bnt-comment-post {
  height: 10vh;
}

.post-text-id {
  margin: 2%;
  width: 96%;
  height: auto;
}

.post-date {
  width: 96%;
  text-align: center;
}

.post-text {
  width: 96%;
  word-wrap: break-word;
}

.like-comment {
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid;
  border-color: var(--mustard);
}

.btns-like-comment {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.form-comment {
  display: none;
}

.form-comment.active {
  display: flex;
  margin: 0 2%;
  width: 96%;
  flex-wrap: wrap;
  justify-content: space-around;
}


.btn-config {
  cursor: pointer;
  background: transparent;
  margin: 2px;
  width: 40px;
  height: auto;
}

.form-modify-post {
  display: none;
  width: 100%;
  border-bottom: 2px solid var(--blue-op);
}

.content-edit-post {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modify-input-value,
.comment-input-value {
  background: var(--blue-opacity);
  text-align: center;
  margin-top: 10px;
  width: 100%;
  height: 80px;
  resize: none;
  border-radius: 0 10px 10px 10px;
  border: 2px solid var(--blue-op);
}

.btn-edit-style {
  border-radius: 0 10px 10px 10px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: var(--blue-op);
}

.btn-edit-style:hover {
  background-color: var(--blue-opacity-hover);
}

.modal-delete {
  height: 100%;
  width: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 5;
  display: none;
}

.title-modal-delete {
  width: 100%;
}

.modal-delete-confirm {
  margin: 30% 10%;
  border-radius: 10px;
  background: var(--green);
  width: 80%;
  height: 20%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.nav-remove-comment {
  width: fit-content;
}

.remove-comment {
  width: 100%;
  height: 40px;
}

.img-delete-comment {
  width: 100%;
}