@media (min-width: 600px) and (max-width: 800px) {
  .nav-logo {
    width: 8em;
  }
  .button {
    padding: 8px 40px;
    font-size: 15px;
  }
  .text-content {
    margin: 3em 2em 2em;
  }
  .text-content p {
    font-size: large;
    margin: 2em 3em;
  }

  .inputNames {
    padding: 15px 5px;
    margin: 0.5em 5em;
  }

}

@media (min-width: 900px) and (max-width: 1024px) {
  .nav-logo {
    width: 9em;
  }
  .home-buttons {
    justify-content: end;
  }
  .button {
    margin: auto 5em;
  }
  .button-container {
    margin-bottom: 15.5em;
  }
  .button-register {
    position: absolute;
    right: 37em;
    bottom: 16em;
  }
  .text-content {
    margin: 2em 5em 3em;
    font-size: larger;
  }
  .participate {
    justify-content: flex-start;
    font-size: larger;
  }
  .home-image {
    width: 30em;
    margin: 2em auto;
    position: absolute;
    left: 32em;
    top: 13em;
  }
  .subtitle {
    font-size: revert;
  }
  .inputNames {
    padding: 10px 7px;
    margin: 1.5em 5em;
  }
  .login-container {
    margin: auto;
  }
  .loginEnter {
    padding: 8px 40px;
    padding: 8px 55px;
    font-size: larger;
  }
  .textForgot{
    font-size: larger;
  }
  .registerButton{
    margin: 2em auto auto;
    justify-content: center;
  }
  .buttonGoogle{
    margin: auto 2em;
  }
  .backHome{
    padding: 25px;
    font-size: larger;
  }
}

@media (min-width: 320px) {
  .button:hover {
    font-weight: 600;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
.google-container {
    display: flex;
    justify-content: center;
  }
  .buttonGoogle{
      margin: auto 1em;
  }
}