#form-profile {
    width: 100%;
    box-sizing: border-box;
    background: var(--color-light-gray);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.foto-perfil {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    background-color: var(--color-dark-yellow);
}

.linha, .linha label, .linha input {
    width: 100%;
    display: block;
}

.linha label {
    text-align: left;
}
