@charset "UTF-8";
@import url('./components/variables.css');
@import url('./components/header.css');
@import url('./components/dropdown-menu.css');
@import url('./components/button.css');
@import url('./components/modal.css');
@import url('./components/post.css');
@import url('./components/comment.css');
@import url('./pages/login-register.css');
@import url('./pages/feed.css');
@import url('./pages/profile.css');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--color-dark-gray);
}
.container-login {
  background-color: var(--color-dark-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container-labfriends {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark-gray);
}
#header {
  position: fixed;
  padding: 20px;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#main-container {
  max-width: 1800px;
  position: relative;
  top: 82px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 550px) {
  #main-container {
    top: 97px;
  }
  #root {
    height: 100vh;
    background-image: url('../../img/background.gif');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-login {
    border-radius: calc(var(--spacing-small) * 4);
    width: 75%;
    padding: 8% 0;
  }
}

@media screen and (min-width: 550px) and (max-width: 1799px) {
  .container-login {
    max-width: 31.25rem;
    max-height: 36rem;
  }
}

@media screen and (min-width: 1800px) and (max-width: 2600px) {
  .container-login {
    max-width: 37.5rem;
    max-height: 40.63rem;
  }
}
