@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Alice', sans-serif;
    background-color: #1F171A;
}

.nav-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-logo{ 
  margin-top: 2em;
  width: 7em;
}

.home-buttons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2em;
}

.button {
  color: #f9f9f9;
  background-color: #DA4871;
  padding: 4px 33px;
  border-radius: 4px;
  text-decoration: none;
}

.text-content{
  color: #f9f9f9;
  margin: 3em 1em 2em;
}

p > span {
color: #DA4871;
}

.text-participate{
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.button-container{
  display: flex;
  justify-content: center;
}

.container-image{
  display: flex;
  justify-content: center;
}

.home-image{
  width: 13em;
  margin: 2em auto;
}

.footer{
  color: #f9f9f9;
}
.social-media{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.image-github{
  width: 2em;
  clip-path: circle(50%);
}