@import url(./timeline/menu.css);
@import url(./timeline/post.css);
@import url(./timeline/comment.css);

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: var(--font-pattern);
}

#container {
  height: 100vh;
  width: 100vw;
}
#main-container {
  position: relative;
  top: 80px;
  bottom: -20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.user-post {
  width: 285px;
  background-color: var(--color-white);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
