.body-template-post {
    margin: 0;
    padding: 0;
}

.section-post {
    max-width: 900px;
    margin: 0px 30px;
}

.section-new-post-published {
    width: 84%;
    height: 263px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(235, 233, 240);
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
    padding: 12px 25px;
    margin: 30px 0 0px;
}

.username{
    margin-bottom: auto;
    margin-top: 0;
    font-size: 15px;
}

.date {
    margin-top: 0;
    font-size: 11px;
    font-weight: lighter;
}

.HQ-title {
    margin-bottom: auto;
    margin-top: 8px;
    font-size: 14px;
}

.message {
    margin-bottom: auto;
    margin-top: 4px;
    font-size: 13px;
}

.buttons-edit-delete {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-button {
    margin-left: 126px;
}

.edit-button, .post-delete-button {
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.likes {
    margin-left: 204px;
    margin-top: 3px;
    margin-bottom: 7px;
}