html,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: 'Inder';
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
}
.box {
  padding: 25px;
  margin: 15px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fefaef;
  color: #fff;
  height: 50px;
  padding: 1em;
}

.logo {
  width: 70px;
  margin-top: 20px;
  padding: 5px;
}

.button-logout {
  width: 40px;
  margin-top: 20px;
}

.line-header {
  margin-top: 15px;
  width: 100%;
  border: 1px solid #48d9b0;
}
.post-container {
  width: 580px;
  height: 250px;
  background-color: #f5efef;
  border-radius: 8px;
}
.publish {
  width: 320px;
  border-radius: 8px;
  background-color: #f5efef;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
  padding-bottom: 25px;
}

textarea {
  border-radius: 5px;
  border: none;
  margin: 20px 12px;
  resize: none;
}

textarea:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.posts {
  width: 320px;
  border-radius: 8px;
  background-color: #F5EFEF;
  margin-top: 20px;
  margin-left: 20px;
}

select,
option,
button {
  font-size: 12px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background-color: #466c8c;
  width: 80px;
  height: 25px;
  border: none;
  cursor: pointer;
}

select {
  margin-left: 120px;
}

button {
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@media (min-width: 900px) {
  .logo {
    width: 100px;
  }

  .button-logout {
    width: 60px;
    margin-top: 40px;
  }
  .posts {
    width: 100%;
    display: flex;

    align-items: center;
  }

  .publish {
    width: 580px;
    margin-top: 50px;
    display: flex;

    align-items: center;
    justify-content: center;
  }

  textarea {
    width: 500px;
    font-size: 18px;
  }

  select,
  button {
    width: 100px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  select {
    margin-left: 280px;
  }

  button {
    margin-right: 35px;
  }
}
