html,
body {
  margin: 0;
  height: 100%;
  width: 100vw;
}

* {
  font-family: 'Inder', sans-serif;
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fefaef;
  color: #fff;
  height: 50px;
  padding: 1em;
}

.logo {
  width: 70px;
  margin-top: 20px;
  padding: 5px;
}

.button-logout {
  width: 30px;
  margin-top: 40px;
}

.line-header {
  margin-top: 15px;
  width: 100%;
  border: 1px solid #48d9b0;
}

.publish {
  width: 100%;
  border-radius: 8px;
  background-color: #f5efef;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.container-publish {
  width: 65%;
  margin-left: 30%;
  margin-right: 30%;
}

textarea {
  height: 150px;
  width: 100%;
  border-radius: 5px;
  border: none;
  resize: none;
}

textarea:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.btn-container {
  display: flex;
  flex-direction: row-reverse;
}

.publish-btn {
  font-size: 12px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background-color: #466c8c;
  width: 80px;
  height: 25px;
  border: none;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

.posts-container {
  width: 80%;
  display: flex;
  border-radius: 8px;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.box-posts ul {
  list-style: none;
}

.box-posts {
  width: 100%;
  border-radius: 8px;
  background-color: #f5efef;
  margin-left: 20px;
  margin-bottom: 20px;
  line-height: 1.8em;
}

.line {
  width: 100%;
  border: 1px solid lightgray;
  margin-top: 20px;
}

.icon {
  display: flex;
}

.button-heart .button-edit {
  border: none;
}

.btn-heart .edit-btn {
  font-size: 25px;
  margin-top: 10px;
  cursor: pointer;
}

@media (min-width: 900px) {
  .logo {
    width: 100px;
    margin-bottom: 8px;
  }

  .button-logout {
    width: 40px;
    margin-top: 40px;
  }

  .publish {
    width: 580px;
    margin-top: 50px;
  }

  textarea {
    width: 500px;
    font-size: 18px;
  }

  .publish-btn {
    width: 100px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 35px;
  }

  .box-post {
    width: 580px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}