html,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: 'Inder';
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fefaef;
  color: #fff;
  height: 50px;
  padding: 1em;
}

.logo {
  width: 70px;
}

.line-header {
  width: 100%;
  border: 1px solid #48d9b0;
}

.textarea {
  resize: none;
  width: 40%;
  height: 60%;
  margin-top: 12px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #48d9b0;
}

select,
option {
  font-size: 16px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background-color: #48d9b0;
  width: 120px;
  height: 40px;
  border: none;
  cursor: pointer;
}

button {
  background-color: #48d9b0;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  width: 120px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

select,
button {
  display: inline-block;
}

@media (min-width: 900px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    border: 1px solid #fefaef;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #fefaef;
    background-color: #03a688;
    font-size: 24px;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}