/* .w-100 {
  width: 100%;
}
.d-flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.m-1 {
  margin: 10px;
}
.m-2 {
  margin: 20px;
}
.m-3 {
  margin: 30px;
}
.m-4 {
  margin: 40px;
}
.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 20px;
}
.p-3 {
  padding: 30px;
}
.p-4 {
  padding: 40px;
} */
