* {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
    background-color: #C3DB7B;
    font-size: 1.2em;
    color: #306B35;
    height: 12vh;
    text-align: center; 
    border-radius: 5px 5px 0px 0px;
} 

@media (max-width: 600px){
.footer {
    gap: 2px;
    font-size: 1em;
}
}
