@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inder&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inder', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

body {
  background-color: #fefaef;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: space-between;
}

#root {
  display: block;
}

.banner {
  background-image: url('./img/banner1.jpg');
  background-position: center;
  background-size: cover;
  width: 353px;
  height: 253px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
}

.container-fluid {
  box-shadow: 0 2px 6px rgb(0 0 0 / 50%);
  background-color: #fef9ef;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  width: 50vh;
  height: 50vh;
  padding-bottom: 15px;
}

form {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  margin-top: 15px;
}

.text {
  margin-bottom: auto;
}

p,
a {
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}

.inputs {
  background-color: #f5efef;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  margin-top: 0.5em;
  width: 264px;
  height: 42px;
  text-align: left;
  padding-left: 6px;
}

.error {
  text-align: center;
  font-size: 13px;
  text-decoration: none;
}

.btnEnter {
  background-color: #48d9b0;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  width: 264px;
  height: 42px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  justify-content: space-around;
  margin-top: 15px;
}

.logoGoogle {
  width: 7%;
}

.link {
  display: flex;
  color: #03a688;
  flex-direction: column;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: #acf2be;
  margin: 0;
  padding: 5px 0;
}

.text-footer {
  font-weight: lighter;
  text-align: center;
  font-size: 10px;
  margin: 0;
}

.github {
  font-size: 15px;
  text-decoration: none;
  color: black
}

@media (min-width: 900px) {
  * {
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;
  }

  .center {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-right: 150px;
    flex-direction: row;
  }

  .containerA {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 25px;
  }

  .banner {
    width: 580px;
    height: 500px;
    background-image: url('./img/banner1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
  }

  .main-container {
    min-height: 90vh;
    padding: 0;
    flex-direction: row;
  }

  .container-fluid {
    width: 63vh;
    height: 73vh;
  }

  form {
    min-width: 50%;
  }

  .welcome {
    font-size: 22px;
  }

  .inputs {
    font-size: 18px;
    margin: 15px 15px 2px 0;
  }

  .btnEnter {
    margin-right: 15px;
  }

  footer {
    bottom: 0;
    width: 100%;
    background-color: #acf2be;
    margin: 0;
    padding: 15px 0;
  }

  .text-footer {
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    margin: 0;
  }

}