@import url("reset.css");
@import url("./pages/login/login.css");
@import url("./pages/newuser/newuser.css");
@import url("./pages/feed/feed.css");


.all-content {
  background-image: url(./img/paper-background.jpg);
}


